@font-face {
  font-family: "franklin";
  src: url("./assets/fonts/Franklin.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #56b24d;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #88be03;
}

button {
  cursor: pointer;
}

.nav-main-div {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  /* padding: 10%; */
}

.navbar {
  font-size: 18px;
  width: 100%;
  margin: auto;
  padding: 0.2%;
}

.part1 {
  width: 45%;
  margin-right: 5%;
}
.part2 {
  margin-left: 15%;
  width: 25%;
}

.navlinks {
  width: 100%;
}

.signinbtn:hover {
  color: #ffffff;
  background-color: #56b24d;
  transition: all 0.3s;
}

.signinbtn:active {
  transition: all 0.1s;
  transform: translateY(2px);
}

.scroll-nav {
  height: 90px;
  transition: 0.6s;
  background-color: #f4fff3;
  box-shadow: 0 3px 100px 1px hsla(0, 0%, 0%, 0.326);
}

.scroll-nav > .part1 > .navlinks {
  font-weight: 600;
}

.home-flex-1,
.home-flex-2 {
  padding: 20px;
}

.home-flex-1 {
  margin-top: 10%;
}

.tagline {
  font-family: franklin;
  letter-spacing: 1px;
}

.route-button:hover {
  transition: all 0.3s;
  background-color: #88be03;
  text-decoration: underline;
}

.footer-container {
  box-shadow: 0 3px 30px 5px hsla(0, 0%, 0%, 0.326);
}

.title {
  color: #000000;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials div {
  margin: 20px;
}

.socials div > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials div > h2 {
  font-size: 18px;
}
.socials div > a > img {
  height: 40px;
  width: 40px;
}

.home-features-container {
  font-family: "franklin";
  padding: 1% 4%;
  margin: 1% 0;
}

.generator-container {
  box-shadow: 0 3px 20px 1px hsla(0, 0%, 0%, 0.326);
}

.gen-tagline {
  letter-spacing: 1px;
  font-family: "franklin";
  font-weight: 800;
}

.gen-formbox {
  box-shadow: 0 3px 20px 1px hsla(0, 0%, 0%, 0.326);
  width: 35%;
}

.gen-formbox h3 {
  font-family: "Franklin Gothic Book";
}

.form > input,
.form > select {
  padding: 10px;
  margin: 1%;
  border: solid 1px hsla(0, 0%, 0%, 0.43);
  width: 100%;
  color: #0000006e;
}
