.navbar {
  font-size: 18px;
  width: 98vw;
  margin: auto;
  padding: 1%;
}

.part1 {
  width: 45%;
  margin-right: 15%;
}
.part2 {
  width: 25%;
}

.navlinks {
  width: 100%;
}

.signinbtn:hover {
  color: #ffffff;
  background-color: #56b24d;
}

.signinbtn:active {
  transition: all 0.1s;
  transform: translateY(2px);
}
